@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    --mainTextColor:rgb(66, 61, 61);
    --secondaryTextColor:rgb(91,87,87);
    --titlecolor:rgb(135,120,120);
    --mainTextColorlight:rgb(153,153,153);
    --mainBgColor:rgba(233, 233, 233, 0.5);
    --secondaryBgColor:rgb(255,255,255);
}

*{
  font-family: 'Open Sans' ;
  line-height: 1,5em;
  color: var(--mainTextColor);
}

h1{
  color: var(--titlecolor);
}

p,li,ul{
  color: var(--mainTextColorlight);
}

.fontclass{
  color: var(--mainTextColorlight);
}

hr{
  border-style: solid;
  border-width: 1px;
}

#head-pic{
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
}

#main--container{
    max-width: 900px;
    margin: 0 auto;
    background-color: var(--mainBgColor);
}

#wrapper--hero{
        display: flex;
        align-items: center;
        gap: 4em;
}

#second--container{
        max-width: 900px;
        margin: 0 auto;
        background-color: var(--secondaryBgColor);
}

.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
